@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div><vc:reclame></vc:reclame></div>*@

<div>@await Component.InvokeAsync("Reclame", new {tekst = "Dit is <b>html</b>!", html = true})</div>
@*<div><vc:reclame tekst="Dit is <b>html</b>!" html="true"></vc:reclame></div>*@

<div>@await Component.InvokeAsync("Reclame", new {tekst = "Dit is <geen> html!", html = false})</div>
@*<div><vc:reclame tekst="Dit is <geen> html!" html="false"></vc:reclame></div>*@